.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

/*A propos*/
h1 {
  font-family: "Italianno", cursive;
  color: white;
  font-size: 70px;
  margin-left: 10%;
  text-shadow: 0 0 black;
  animation: textAnimation 1s ease-in-out forwards;
}

@keyframes textAnimation {
  from {
    transform: translate(0, 0);
    text-shadow: 0 0 black;
  }
  to {
    transform: translate(5px, -10px);
    text-shadow: -5px 10px 5px black;
  }
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.presentDiv {
  line-height: 30px;
  width: 80%;
}

.oc {
  text-decoration: underline;
  margin: 0;
}

.oc:hover {
  color: #7451eb;
  text-decoration: none;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .aboutDiv {
    margin-top: 250px;
  }
}
@media (max-width: 768px) {
  .aboutDiv {
    margin-top: 450px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 50px;
  }

  .aboutDiv {
    margin-top: 580px;
  }
  
  .presentDiv {
    line-height: 20px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .aboutDiv {
    margin-top: 720px;
  }
}

/*Mes compétences*/
.skillsTitle {
  color: white;
}

h3 {
  color: white;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skillsDiv {
  width: 40%;
}

@media (max-width: 767px) {
  .skillsSection {
    height: auto;
  }

  .bodyDiv {
    flex-direction: column;
    align-items: baseline;
  }

  .skillsTitle {
    margin-top: 340px;
    margin-bottom: 0;
  }

  .skillsDiv{
    width: 100%;
  }

  .langDiv {
    display: flex;
    flex-direction: row;
  }
  
  .github {
    background-color: white;
  }
}

@media (max-width: 450px) {
  .bodyDiv {
    display: contents;
  }

  .skillsTitle {
    margin-top: 300px;
  }

  .skillsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Mes projets réalisés*/
.carrousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flip {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: transparent;
}

.link {
  color: blue;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
}

.textCard {
  font-size: smaller;
}
