.App {
  position: relative;
  height: 100%;
  top: -20px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #85adbf;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

/*Accueil*/
.homeDiv {
  display: flex;
  justify-content: center;
}

.presentDiv {
  width: 40%;
  line-height: 30px;
}

.skillsDiv {
  width: 40%;
  display: grid;
  grid-row: 2;
}

.oc {
  color: #7451eb;
}

/*Mes compétences*/
.bodyDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*Mes projets réalisés*/
.carrousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.modale {
  width: 370px;
  height: 360px;
  background-color: aliceblue;
  position: absolute;
}

/*Contact*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-bottom: 20px;
  width: 300px;
  height: 20px;
}

form textarea {
  width: 1000px;
  height: 150px;
  margin-bottom: 20px;
}

/*Card*/
.flip {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: transparent;
}