body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*header*/
header {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: large;
}

a:hover {
  background-color: #92b0ff;
  border-radius: 20px;
}

@media (max-width: 992px) {
  header {
    margin-top: 20px;
  }

  nav {
    padding-right: 15px;
  }

  nav:hover {
    background-color: transparent;
    border: none;
  }

  h1 {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}

@media (max-width: 450px) {
header {
  justify-content: inherit;
  flex-direction: column;
  margin-top: 40px;
}

  nav {
    margin-top: 10px;
    line-height: 35px;
  }
}

/*Footer*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
}

@media (max-width: 450px) {
  footer {
    height: 150px;
  }
}